.timeline .timeline-item {
    position: relative;
    padding-left: 35px;
    padding-bottom: 50px;
} 
timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0px;
    height: 15px;
    width: 15px;
    left: 0px;
    border-radius: 50%;
}